<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">Category Management</h2>

  <!-- Category Form -->
  <div class="card shadow-sm p-4">
    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
      <div class="mb-3">
        <label class="form-label fw-bold">Category Name</label>
        <input type="text" formControlName="Name" class="form-control" placeholder="Enter category name">
      </div>

      <div class="form-check mb-3">
        <input
          type="checkbox"
          class="form-check-input big-checkbox"
          id="isActiveCheckbox"
          formControlName="IsActive" 
        />
        <label class="form-check-label ms-2 px-2">Active</label>
      </div>
      
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-50 me-2">{{ editMode ? 'Update' : 'Add' }} Category</button>
        <button type="button" class="btn btn-secondary w-25" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </div>


  <!-- Category List -->
  <div class="mt-4 table-responsive">
    <table class="table table-hover table-nowrap table-bordered shadow">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th class="w-50">Name</th>
          <th class="w-25 text-center">Status</th>
          <th class="text-center w-25">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.CategoryId }}</td>
          <td>{{ category.Name }}</td>
          <td class="text-center">
          <span class="badge badge-lg badge-dot">
            <i [ngClass]="category.IsActive ? 'bg-success' : 'bg-danger'"></i>{{ category.IsActive ? 'Active' : 'Inactive' }}
        </span>
          </td>
          <td class="text-center">
            <button class="btn btn-primary btn-sm me-2" (click)="editCategory(category)"><i class="bi bi-pencil"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.CategoryId ?? 0)"><i class="bi bi-trash"></i></button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

