  table{
    background-color: white !important;
  }
  th{
    color: black !important;
    font-size: 14px !important;
  }
  td{
    font-size: 14px ;
    
  }
  .big-checkbox {
    transform: scale(1.5);
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  